<div id="show-title">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <p><span>title:<%= @book.title %></span></p>
    <p><span>body:<%= @book.body %></span></p>
        <div class="show-list">
            <%= link_to "edit", edit_books_path(@book.id) %>
            <%= link_to 'back','/books' %>
        </div>
</div>
